<section class="recover">
	<div class="content">
		<div class="welcome">
			<h1>Recuperar senha</h1>
			<p>Por favor, preencha o campo abaixo para recuperar sua senha.</p>
		</div>

		<form class="form">
			<mat-form-field class="email" appearance="outline" matNativeControl>
				<mat-label>E-mail</mat-label>
				<input matInput type="email" autocomplete="on" />
			</mat-form-field>

			<button mat-flat-button class="cancel" type="button">
				<span>Cancelar</span>
			</button>
			<button mat-flat-button class="submit" type="submit" disabled>
				<span>Entrar</span>
			</button>
		</form>
	</div>
</section>
