<section class="recover">
	<div class="content">
		<div class="welcome">
			<a href=""><mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon></a>
			<section class="title">
				<h1>Recuperar senha</h1>
				<p>Por favor, preencha o campo abaixo para recuperar sua senha.</p>
			</section>
		</div>

		<form [formGroup]="recoverForm" class="form">
			<mat-form-field
				class="email"
				appearance="outline"
				[hideRequiredMarker]="true"
			>
				<mat-label>E-mail</mat-label>
				<input
					matInput
					formControlName="email"
					type="email"
					autocomplete="on"
				/>
				<mat-error *ngIf="recoverForm.get('email')?.invalid"
					>Informe um e-mail válido</mat-error
				>
			</mat-form-field>

			<div class="buttons">
				<button
					mat-flat-button
					class="cancel"
					type="button"
					(click)="goToLogin()"
				>
					<span>Cancelar</span>
				</button>
				<button
					mat-flat-button
					class="send"
					type="submit"
					[disabled]="!recoverForm.valid"
					(click)="submitEmail()"
				>
					<span>Enviar</span>
				</button>

				<mat-error *ngIf="showError === true" class="error-message"
					><span>Solicitação inválida</span></mat-error
				>

				<app-success-window
					[description]="
						'E-mail de recuperação enviado com sucesso! Siga as instruções enviadas em seu e-mail.'
					"
				></app-success-window>
			</div>
		</form>
	</div>
</section>
