<section class="recover">
	<div class="content">
		<div class="welcome">
			<a href=""><mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon></a>
			<section class="title">
				<h1>Recuperar senha</h1>
				<p>Por favor, preencha o campo abaixo para recuperar sua senha.</p>
			</section>
		</div>

		<form class="form">
			<mat-form-field class="email" appearance="outline" matNativeControl>
				<mat-label>E-mail</mat-label>
				<input matInput type="email" autocomplete="on" />
			</mat-form-field>

			<div class="buttons">
				<button mat-flat-button class="cancel" type="button">
					<span>Cancelar</span>
				</button>
				<button mat-flat-button class="send" type="submit">
					<span>Enviar</span>
				</button>
			</div>
		</form>
	</div>
</section>
