$active-color: #ba8e73;
$border-input-color: #f2f2f2;
$foundation-gray-scale-white: #fff;
$foundation-gray-scale-gray-900: #47474e;
$inactive-send-color: #979797;
$text-inactive-send-color: #171717;

.recover {
	background: url(../../../assets/Epic-Sky-03.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		position: relative;

		.welcome {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			.arrow-icon {
				color: $foundation-gray-scale-white;
				position: absolute;
				left: -40px;
				top: 1rem;
				transform: translateY(-50%);
			}

			.title {
				h1 {
					color: $foundation-gray-scale-white;
					font-size: 3rem;
					font-weight: 500;
					letter-spacing: 0.045rem;
				}

				p {
					color: $foundation-gray-scale-white;
					font-size: 1rem;
					font-weight: 400;
					line-height: normal;
				}
			}
		}

		.form {
			.email {
				width: 32.5625rem;
				height: 4.5rem;
				margin: 2.5rem 0 1.5rem 0;

				mat-label,
				input {
					color: $foundation-gray-scale-white;
				}
			}

			// Change Mat-Input Border Color & Caret Color on focus
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__leading,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__notch,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__trailing,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-text-field__input,
			::ng-deep .mdc-text-field .mdc-text-field__input {
				caret-color: $foundation-gray-scale-white;
				border-color: $border-input-color;
			}

			// Focus to Change Border Color in Mat-Input
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__leading,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__notch,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__trailing,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-text-field__input {
				border-color: $active-color;
				transition: border-color 0.2s ease-in-out;
			}

			.error-message {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: -0.5rem 0 0 0;

				span {
					font-size: 1rem;
				}
			}

			.buttons {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.cancel {
					width: 32.625rem;
					height: 3.5rem;
					background: transparent;
					border-radius: 0.25rem;
					border: 1px solid $foundation-gray-scale-gray-900;

					span {
						color: $foundation-gray-scale-white;
						font-size: 0.875rem;
						font-weight: 500;
						letter-spacing: 0.07813rem;
						text-transform: uppercase;
					}
				}

				.send {
					width: 32.625rem;
					height: 3.5rem;
					background-color: $inactive-send-color;
					opacity: 0.3;

					span {
						color: $text-inactive-send-color;
						font-size: 0.875rem;
						font-weight: 700;
						letter-spacing: 0.07813rem;
						text-transform: uppercase;
					}

					&:enabled {
						transition: all 0.2s ease-in-out;
						background: $active-color;
						opacity: 1;

						span {
							color: $foundation-gray-scale-white;
						}
					}
				}
			}
		}
	}
}