$active-color: #ba8e73;
$border-input-color: #f2f2f2;
$bg-color-while-dev: #c4c4c4;
$inactive-send-color: #979797;
$foundation-gray-scale-white: #fff;
$text-inactive-send-color: #171717;
$foundation-gray-scale-gray-900: #47474e;
$valid-color: #9ad698;
$invalid-color: #e38686;

.error {
	color: red;
}

.new-password {
	// background-color: $bg-color-while-dev;
	background: url(../../../assets/Epic-Sky-03.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.title {
			margin-bottom: 1rem;

			h1,
			p {
				color: $foundation-gray-scale-white;
			}

			h1 {
				font-size: 3rem;
				font-weight: 500;
				letter-spacing: 0.045rem;
			}

			p {
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}

	.form {
		// Change Mat-Input Border Color & Caret Color on focus
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__leading,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__notch,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__trailing,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-text-field__input,
		::ng-deep .mdc-text-field .mdc-text-field__input {
			caret-color: $foundation-gray-scale-white;
			border-color: $border-input-color;
		}

		// Focus to Change Border Color in Mat-Input
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__leading,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__notch,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__trailing,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-text-field__input {
			border-color: $active-color;
			transition: border-color 0.2s ease-in-out;
		}

		.inputs {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			mat-label,
			input,
			mat-icon {
				color: $foundation-gray-scale-white;
			}
		}
	}

	.validators {
		margin: 1.5rem 0 1.5rem 0;

		.requirements {
			display: flex;

			.check-icon,
			p {
				color: $foundation-gray-scale-white;
			}

			p {
				margin-left: 0.5rem;
			}

			.met {
				color: $valid-color;
			}

			.not-met {
				color: $invalid-color;
			}
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.cancel {
			width: 32.625rem;
			height: 3.5rem;
			background: transparent;
			border-radius: 0.25rem;
			border: 1px solid $foundation-gray-scale-gray-900;

			span {
				color: $foundation-gray-scale-white;
				font-size: 0.875rem;
				font-weight: 500;
				letter-spacing: 0.07813rem;
				text-transform: uppercase;
			}
		}

		.submit {
			width: 32.625rem;
			height: 3.5rem;
			background-color: $inactive-send-color;
			opacity: 0.3;

			span {
				color: $text-inactive-send-color;
				font-size: 0.875rem;
				font-weight: 700;
				letter-spacing: 0.07813rem;
				text-transform: uppercase;
			}

			&:enabled {
				transition: all 0.2s ease-in-out;
				background: $active-color;
				opacity: 1;

				span {
					color: $foundation-gray-scale-white;
				}
			}
		}
	}
}
