<main class="new-password">
	<section class="content">
		<div class="title">
			<h1>Nova senha</h1>
			<p>Informe abaixo uma nova senha para conseguir logar.</p>
		</div>

		<form class="form" [formGroup]="newPasswordForm" (ngSubmit)="submitForm()">
			<div class="inputs">
				<mat-form-field
					class="password"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Digite sua nova senha</mat-label>
					<input
						matInput
						formControlName="newPassword"
						[type]="hide ? 'password' : 'text'"
						required
					/>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
					</button>
					<mat-error *ngIf="newPasswordForm.controls.newPassword.hasError">
						<span class="warning"
							>Preenchido de forma incorreta, tente novamente!</span
						>
					</mat-error>
				</mat-form-field>

				<mat-form-field
					class="password"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Digite novamente sua nova senha</mat-label>
					<input
						matInput
						formControlName="confirmPassword"
						[type]="hide ? 'password' : 'text'"
						required
					/>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
					</button>
				</mat-form-field>
			</div>

			<section class="validators">
				<div class="requirements minlength">
					<mat-icon
						class="check-icon"
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('minlength') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('minlength')
						"
						>check_circle_outline</mat-icon
					>
					<p
						class="check-icon"
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('minlength') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('minlength')
						"
					>
						A senha deve conter, no mínimo, 8 caracteres;
					</p>
				</div>
				<div class="requirements uppercase">
					<mat-icon
						class="check-icon"
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('uppercase') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('uppercase') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						>check_circle_outline</mat-icon
					>
					<p
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('uppercase') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('uppercase') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
					>
						Deve ter 1 letra;
					</p>
				</div>
				<div class="requirements digit">
					<mat-icon
						class="check-icon"
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('digit') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('digit') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						>check_circle_outline</mat-icon
					>
					<p
						[class.met]="
							!newPasswordForm.get('newPassword')?.hasError('digit') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm.get('newPassword')?.hasError('digit') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
					>
						Deve ter 1 número;
					</p>
				</div>
				<div class="requirements specialCharacter">
					<mat-icon
						class="check-icon"
						[class.met]="
							!newPasswordForm
								.get('newPassword')
								?.hasError('specialCharacter') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm
								.get('newPassword')
								?.hasError('specialCharacter') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						>check_circle_outline</mat-icon
					>
					<p
						[class.met]="
							!newPasswordForm
								.get('newPassword')
								?.hasError('specialCharacter') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
						[class.not-met]="
							newPasswordForm
								.get('newPassword')
								?.hasError('specialCharacter') &&
							newPasswordForm.get('newPassword')?.value !== ''
						"
					>
						Deve ter 1 caractere especial: !&?
					</p>
				</div>
			</section>

			<div class="buttons">
				<button
					mat-flat-button
					class="cancel"
					type="button"
					(click)="goToLogin()"
				>
					<span>Cancelar</span>
				</button>
				<button
					mat-flat-button
					class="submit"
					type="submit"
					[disabled]="!newPasswordForm.valid"
					(click)="openSuccessWindow()"
				>
					<span>Criar Senha</span>
				</button>

				<app-success-window
					[description]="
					'Senha criada com sucesso! Realize o login com sua nova senha.'
				"
				></app-success-window>
			</div>
		</form>
	</section>
</main>
