$bg-color-while-dev: #c4c4c4;
$foundation-gray-scale-white: #fff;

.new-password {
	background-color: $bg-color-while-dev;
	// background: url(../../../assets/Epic-Sky-03.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.inputs {
		display: flex;
		flex-direction: column;
	}

	.requirements {
		display: flex;

		// .check-icon,
		// p {
		// 	color: $foundation-gray-scale-white;
		// }

		p {
			margin-left: 1rem;
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
}
