<section class="login">
	<div class="content">
		<div class="welcome">
			<h1>Bem vindo(a)!</h1>
			<p>Por favor, preencha os campos abaixo para logar.</p>
		</div>

		<form class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
			<mat-form-field class="email" appearance="outline" matNativeControl>
				<mat-label>E-mail</mat-label>
				<input 
					matInput type="email" 
					autocomplete="on" 
					formControlName="email"
					required/>

				<span *ngIf="email.invalid && formDir.submitted" class="validation-err">
					<p *ngIf="email.errors?.['required']">Campo Obrigatório</p>
					<p *ngIf="email.errors?.['email']">E-mail inválido</p>
				</span>
			</mat-form-field>

			<mat-form-field class="password" appearance="outline">
				<mat-label>Senha</mat-label>
				<input
					matInput
					[type]="hide ? 'password' : 'text'"
					id="password"
					autocomplete="off"
					formControlName="senha"
					required
				/>
				<span *ngIf="senha.invalid && formDir.submitted" class="validation-err">
					<p *ngIf="senha.errors?.['required']">Campo Obrigatório</p>
					<p *ngIf="senha.errors?.['minLength']">A senha possui mínimo de 8 dígitos. Tente novamente</p>
				</span>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
			</mat-form-field>

			<div class="container">
				<div class="remember">
					<input type="checkbox" id="remember" name="remember" />
					<label for="remember"><span>Lembrar de mim</span></label>
				</div>

				<div class="forgot">
					<a href="recover-password">Esqueceu a senha?</a>
				</div>
			</div>

			<button mat-flat-button class="submit" type="submit" >
				<span>Entrar</span>
			</button>
		</form>
	</div>
</section>
