<section class="login">
	<div class="content">
		<div class="welcome">
			<h1>Bem vindo(a)!</h1>
			<p>Por favor, preencha os campos abaixo para logar.</p>
		</div>

		<form [formGroup]="loginForm" class="form">
			<mat-form-field
				class="email"
				appearance="outline"
				[hideRequiredMarker]="true"
			>
				<mat-label>E-mail</mat-label>
				<input
					matInput
					formControlName="email"
					type="email"
					autocomplete="on"
				/>
				<mat-error *ngIf="loginForm.get('email')?.invalid"
					>Informe um e-mail válido</mat-error
				>
			</mat-form-field>

			<mat-form-field
				class="password"
				appearance="outline"
				[hideRequiredMarker]="true"
			>
				<mat-label>Senha</mat-label>
				<input
					matInput
					formControlName="password"
					[type]="hide ? 'password' : 'text'"
					autocomplete="off"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
			</mat-form-field>

			<div class="container">
				<div class="rememberMe">
					<input type="checkbox" id="rememberMe" formControlName="rememberMe"/>
					<label for="rememberMe"><span>Lembrar de mim</span></label>
				</div>

				<div class="forgot">
					<a href="recover-password"><span>Esqueceu a senha?</span></a>
				</div>
			</div>

			<button
				mat-flat-button
				class="submit"
				type="submit"
				[disabled]="!loginForm.valid"
				(click)="onSubmit()"
			>
				<span>Entrar</span>
			</button>

			<div class="registration">
				<a href="registration"><span>Ainda não é cadastrado?</span></a>
			</div>
		</form>
	</div>
</section>
