$foundation-gray-scale-white: #fff;
$foundation-gray-scale-black: #000;
$active-color: #ba8e73;
$border-input-color: #f2f2f2;
$inactive-submit-color: #979797;
$text-inactive-submit-color: #171717;

.login {
	background: url(../../../assets/Epic-Sky-03.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.welcome {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 2.5rem;

		h1 {
			color: $foundation-gray-scale-white;
			font-size: 3rem;
			font-weight: 500;
			letter-spacing: 0.045rem;
		}

		p {
			color: $foundation-gray-scale-white;
			font-size: 1rem;
			font-weight: 400;
			line-height: normal;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;

		// Change Mat-Input Border Color & Caret Color on focus
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__leading,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__notch,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-notched-outline__trailing,
		::ng-deep
			.mdc-text-field--outlined:not(.mdc-text-field--disabled)
			.mdc-text-field__input,
		::ng-deep .mdc-text-field .mdc-text-field__input {
			caret-color: $foundation-gray-scale-white;
			border-color: $border-input-color;
		}

		// Focus to Change Border Color in Mat-Input
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__leading,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__notch,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-notched-outline__trailing,
		::ng-deep
			.mdc-text-field--outlined:not(
				.mdc-text-field--disabled
			).mdc-text-field--focused
			.mdc-text-field__input {
			border-color: $active-color;
			transition: border-color 0.2s ease-in-out;
		}

		.email {
			width: 32.6875rem;
			height: 4.5rem;

			mat-label {
				color: $foundation-gray-scale-white;
			}

			input {
				color: $foundation-gray-scale-white;
			}
		}

		.password {
			margin: 1.5rem 0 1.5rem 0;
			color: $foundation-gray-scale-white;

			mat-label {
				color: $foundation-gray-scale-white;
			}

			input {
				color: $foundation-gray-scale-white;
			}
		}
	}

	.container {
		align-items: center;
		display: flex;
		padding: 0;
		justify-content: space-between;
		width: 100%;

		.remember {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			span {
				color: $foundation-gray-scale-white;
			}

			.custom-checkbox.mat-checkbox-checked .mat-checkbox-inner-container {
				background-color: $active-color;
				border-color: $active-color;
			}

			input[type="checkbox"] {
				width: 1rem;
				height: 1rem;

				&:checked {
					accent-color: $active-color;
				}
			}

			label {
				color: $foundation-gray-scale-white;
			}
		}
	}

	.forgot {
		display: flex;
		align-items: baseline;

		a {
			color: $foundation-gray-scale-white;
			text-align: center;
			text-decoration: none;
		}
	}

	.submit {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 0.25rem;
		padding: 0.625rem 0.5rem;
		margin-top: 1.5rem;
		height: 3.5rem;
		width: 100%;
		background: $inactive-submit-color;
		opacity: 0.3;

		span {
			color: $text-inactive-submit-color;
			text-align: center;
			text-transform: uppercase;
			font-family: "Roboto", sans-serif;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 700;
			letter-spacing: 0.07813rem;
		}

		&:enabled {
			transition: all 0.2s ease-in-out;
			background: $active-color;
			opacity: 1;

			span {
				color: $foundation-gray-scale-white;
			}
		}
	}
}
