<main class="meteorology">
	<section class="content">
		<header class="header">
			<div class="title">
				<mat-icon (click)="goToHome()" class="arrow-icon"
					>keyboard_arrow_left</mat-icon
				>

				<h1>Meteorologia em Marte</h1>
				<p>Veja abaixo as temperaturas registradas até o momento.</p>
			</div>

			<mat-icon (click)="openConfirmationWindow()" class="logout"
				>exit_to_app</mat-icon
			>
		</header>
		<main class="center">
			<div class="date">
				<img
					src="../../../assets/icons/calendar-outline.svg"
					alt="Ícone de calendário"
					class="calendar-icon"
				/>

				<div class="info">
					<h2 class="sol">SOL 258</h2>
					<p class="terrestrial">25 Novembro de 2023</p>
				</div>
			</div>

			<section class="temperature">
				<img
					src="../../../assets/icons/thermometer-outline.svg"
					alt="Ícone de termômetro"
					class="temperature-icon"
				/>
				<div class="max-temp">
					<h2 class="max">Máx.: -15° F | C</h2>
					<img
						src="../../../assets/icons/arrow-up.svg"
						alt="Seta para cima"
						class="up-arrow"
					/>
				</div>
				<div class="min-temp">
					<p>Mín.: -147° F | C</p>
					<img
						src="../../../assets/icons/arrow-down.svg"
						alt="Seta para baixo"
						class="down-arrow"
					/>
				</div>
			</section>
		</main>
		<footer class="footer">
			<section class="first card">
				<div class="date">
					<h2 class="sol">SOL 259</h2>
					<p class="terrestrial">18 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -17° F</h3>
					<p class="min">Mín.: -150° F</p>
				</div>
			</section>

			<section class="second card">
				<div class="date">
					<h2 class="sol">SOL 260</h2>
					<p class="date">19 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -17° F</h3>
					<p class="min">Mín.: -150° F</p>
				</div>
			</section>

			<section class="third card">
				<div class="date">
					<h2 class="sol">SOL 261</h2>
					<p class="date">20 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -19° F</h3>
					<p class="min">Mín.: -151° F</p>
				</div>
			</section>

			<section class="fourth card">
				<div class="date">
					<h2 class="sol">SOL 262</h2>
					<p class="date">21 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -19° F</h3>
					<p class="min">Mín.: -152° F</p>
				</div>
			</section>

			<section class="fifth card">
				<div class="date">
					<h2 class="sol">SOL 263</h2>
					<p class="date">22 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -16° F</h3>
					<p class="min">Mín.: -152° F</p>
				</div>
			</section>

			<section class="sixth card">
				<div class="date">
					<h2 class="sol">SOL 264</h2>
					<p class="date">23 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -16° F</h3>
					<p class="min">Mín.: -152° F</p>
				</div>
			</section>

			<section class="seventh card">
				<div class="date">
					<h2 class="sol">SOL 265</h2>
					<p class="date">24 Novembro</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: -16° F</h3>
					<p class="min">Mín.: -150° F</p>
				</div>
			</section>
		</footer>

		<app-confirmation-window></app-confirmation-window>
	</section>
</main>
