@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin icon-size {
	width: 2.625rem;
	height: 2.625rem;
	font-size: 2.625rem;
}

@mixin h2-center-size {
	font-size: 2.25rem;
	font-weight: 700;
}

@mixin p-center-size {
	font-weight: 300;
	font-size: 1rem;
}

@mixin title-days-card-size {
	font-size: 1.20881rem;
	font-weight: 700;
	margin: 0;
}

@mixin subtitle-days-card-size {
	font-size: 0.80588rem;
	font-weight: 300;
	margin: 0;
}

$active-color: #ba8e73;
$title-secondary-color: #ffd2b5;
$foundation-gray-scale-white: #fff;
$foundation-gray-scale-black: #000;
$inactive-send-color: #979797;
$text-inactive-send-color: #171717;
$warning-bg-color: #f9d6c7;
$warning-text-color: #b0683b;
$divider-color: #d9d9d9;
$card-border-color: #292929;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $foundation-gray-scale-white;
}

.meteorology {
	background: url(../../../assets/Epic-Sky-03-2.png) repeat center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;

	.content {
		@include flex-center;
		flex-direction: column;
		padding: 5rem 5rem 0 5rem;

		.header {
			display: flex;
			align-items: center;
			margin-bottom: 7.5rem;
			justify-content: space-between;
			width: 90%;

			.title {
				position: relative;
				display: flex;
				flex-direction: column;

				h1 {
					font-size: 2.5rem;
					font-weight: 700;
				}

				p {
					font-size: 1rem;
					font-weight: 400;
				}
			}

			.arrow-icon {
				cursor: pointer;
				color: $title-secondary-color;
				font-size: 1.75rem;
				height: 1.75rem;
				width: 1.75rem;
				position: absolute;
				left: -50px;
				top: 2rem;
				transform: translateY(-50%);
			}

			.logout-icon {
				cursor: pointer;
				color: $active-color;
				font-size: 2.1875rem;
				height: 2.1875rem;
				width: 2.1875rem;
			}
		}

		// Main Container
		.main {
			margin-bottom: 7.5rem;
			display: flex;
			gap: 5rem;

			// Center Container
			.center {
				@include flex-center;
				border-radius: 1.625rem;
				background: rgba(62, 51, 51, 0.25);
				gap: 4rem;
				padding: 2rem 3.5rem 2rem 2rem;

				// Calendar Container
				.date {
					.calendar-icon {
						@include icon-size;
						margin-bottom: 1rem;
					}

					.info {
						h2 {
							@include h2-center-size;
							margin-bottom: 0.75rem;
						}

						p {
							@include p-center-size;
						}
					}
				}

				// Temperature Container
				.temperature {
					.temperature-icon {
						@include icon-size;
						margin-bottom: 1rem;
					}

					.max-temp {
						position: relative;

						h2 {
							position: relative;
							@include h2-center-size;
							color: $title-secondary-color;
							margin-bottom: 0.75rem;

							.fahrenheit,
							.celsius {
								cursor: pointer;
								color: $title-secondary-color;

								&:hover {
									color: $active-color;
								}

								&.active {
									color: $foundation-gray-scale-white;
								}
							}
						}

						.underline {
							position: absolute;
							height: 1.25px;
							width: 25px;
							background-color: $foundation-gray-scale-white;
							bottom: -6px;
							right: 3.375rem;
							transition: right 0.3s ease;

							&.active {
								right: 0;
							}
						}

						.up-arrow {
							position: absolute;
							top: 0.5rem;
							right: -2rem;
						}
					}

					.min-temp {
						position: relative;

						p {
							position: relative;
							@include p-center-size;
							color: $title-secondary-color;
							margin-bottom: 0.75rem;
						}

						.down-arrow {
							position: absolute;
							top: 0;
							right: 7.75rem;
						}
					}
				}
			}

			// Right Container
			.right {
				@include flex-center;
				flex-direction: column;
				border-radius: 1.625rem;
				background: rgba(62, 51, 51, 0.25);
				gap: 4rem;
				padding: 2rem;

				.content-right {
					@include flex-center;
					gap: 0.75rem;

					.thermometer-icon {
						width: 7.25rem;
						height: 7.25rem;
						font-size: 7.25rem;
					}

					.info-data {
						font-size: 1.25rem;
						font-weight: 700;

						p {
							span {
								color: $title-secondary-color;
							}
						}
					}
				}
			}
		}

		.footer,
		.carousel {
			@include flex-center;
			border-radius: 0.5em;
			gap: 1.5rem;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;

			.container {
				display: block;
				height: 500px;
				width: 500px;
				padding: 2rem;
			}

			.control {
				border: none;
				background-color: transparent;
				outline: 0;
				position: absolute;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0.5em;
				color: white;
				font-weight: bold;
				font-size: 3em;
				-webkit-user-select: none;
				user-select: none;
				height: 100%;
				opacity: 75%;
				transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

				&:hover,
				&:focus {
					opacity: 1;
				}

				&.next {
					right: 0;
				}
				&.prev {
					left: 0;
				}
			}

			.arrow {
				display: block;
				border-left: 0.1em solid $title-secondary-color;
				border-bottom: 0.1em solid $title-secondary-color;
				width: 1rem;
				height: 1rem;

				&.left {
					transform: rotate(45deg);
				}
				&.right {
					transform: rotate(225deg);
				}
			}
		}
	}
}

// MEDIA QUERIES
@media only screen and (width < 1330px) {
	.meteorology {
		.content {
			padding: 3.5rem 3.5rem 0 3.5rem;
		}
	}
}

@media only screen and (width <= 1216px) {
	.meteorology {
		.content {
			.header {
				margin-bottom: 4.5rem;
			}
			.main {
				align-items: center;
				flex-direction: column;
				gap: 1.5rem;
				margin-bottom: 4rem;

				.right {
					width: 80%;
				}
			}
		}
	}
}

@media only screen and (width <= 1200px) {
	.meteorology {
		.content {
			padding: 4.5rem 1.5rem 0 1.5rem;
		}
	}
}

@media only screen and (width <= 630px) {
	.meteorology {
		.content {
			.header {
				margin-bottom: 3rem;

				.arrow-icon {
					left: -40px !important;
				}
			}

			.main {
				gap: 1.75rem;
				margin-bottom: 2rem;

				.center {
					flex-direction: column;
					gap: 1rem;
					padding: 2rem 3rem 2rem 2rem;

					.temperature {
						box-sizing: unset;
					}
				}

				.right {
					width: 90%;
				}
			}
		}
	}
}
