<main class="meteorology">
	<section class="content">
		<header class="header">
			<div class="title">
				<mat-icon (click)="goToHome()" class="arrow-icon"
					>keyboard_arrow_left</mat-icon
				>

				<h1>Meteorologia em Marte</h1>
				<p>Veja abaixo as temperaturas registradas até o momento.</p>
			</div>

			<mat-icon (click)="openConfirmationWindow()" class="logout-icon"
				>exit_to_app</mat-icon
			>
		</header>
		<main class="center">
			<div class="date">
				<img
					src="../../../assets/icons/calendar-outline.svg"
					alt="Ícone de calendário"
					class="calendar-icon"
				/>

				<div class="info">
					<h2 class="sol">SOL {{ sols[0]?.sol }}</h2>
					<p class="terrestrial">
						{{ sols[0]?.terrestrial_date }}
					</p>
				</div>
			</div>

			<section class="temperature">
				<img
					src="../../../assets/icons/thermometer-outline.svg"
					alt="Ícone de termômetro"
					class="temperature-icon"
				/>
				<div class="max-temp">
					<h2 class="max">Máx.: {{ sols[0]?.max_temp }}° F | C</h2>
					<img
						src="../../../assets/icons/arrow-up.svg"
						alt="Seta para cima"
						class="up-arrow"
					/>
				</div>
				<div class="min-temp">
					<p class="min">Mín.: {{ sols[0]?.min_temp }}° F | C</p>
					<img
						src="../../../assets/icons/arrow-down.svg"
						alt="Seta para baixo"
						class="down-arrow"
					/>
				</div>
			</section>
		</main>
		<footer class="footer">
			<section class="first card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[0]?.sol }}</h2>
					<p class="terrestrial">
						{{ sols[0]?.terrestrial_date }}
					</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[0]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[0]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="second card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[1]?.sol }}</h2>
					<p class="date">{{ sols[1]?.terrestrial_date }}</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[1]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[1]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="third card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[2]?.sol }}</h2>
					<p class="date">
						{{ sols[2]?.terrestrial_date }}
					</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[2]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[2]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="fourth card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[3]?.sol }}</h2>
					<p class="date">{{ sols[3]?.terrestrial_date }}</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[3]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[3]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="fifth card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[4]?.sol }}</h2>
					<p class="date">{{ sols[4]?.terrestrial_date }}</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[4]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[4]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="sixth card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[5]?.sol }}</h2>
					<p class="date">{{ sols[5]?.terrestrial_date }}</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[5]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[5]?.min_temp }}° F</p>
				</div>
			</section>

			<section class="seventh card">
				<div class="date">
					<h2 class="sol">SOL {{ sols[6]?.sol }}</h2>
					<p class="date">{{ sols[6]?.terrestrial_date }}</p>
				</div>

				<div class="divider"></div>

				<div class="temperature">
					<h3 class="max">Máx.: {{ sols[6]?.max_temp }}° F</h3>
					<p class="min">Mín.: {{ sols[6]?.min_temp }}° F</p>
				</div>
			</section>
		</footer>

		<app-confirmation-window></app-confirmation-window>
	</section>
</main>
