<main class="meteorology">
	<section class="content">
		<header class="header">
			<div class="title">
				<mat-icon (click)="goToHome()" class="arrow-icon"
					>keyboard_arrow_left</mat-icon
				>

				<h1>Meteorologia em Marte</h1>
				<p>Veja abaixo as informações registradas até o momento.</p>
			</div>

			<mat-icon (click)="openConfirmationWindow()" class="logout-icon"
				>exit_to_app</mat-icon
			>
		</header>
		<main class="main">
			<section class="center">
				<div class="date">
					<img
						src="../../../assets/icons/calendar-outline.svg"
						alt="Ícone de calendário"
						class="calendar-icon"
					/>

					<div class="info">
						<h2 class="sol">SOL {{ sols[0]?.sol }}</h2>
						<p class="terrestrial">
							{{ sols[0]?.terrestrial_date }}
						</p>
					</div>
				</div>

				<section class="temperature">
					<img
						src="../../../assets/icons/thermometer-outline.svg"
						alt="Ícone de termômetro"
						class="temperature-icon"
					/>
					<div class="max-temp">
						<h2 class="max">Máx.: {{ sols[0]?.max_temp }}° F | C</h2>
						<img
							src="../../../assets/icons/arrow-up.svg"
							alt="Seta para cima"
							class="up-arrow"
						/>
					</div>
					<div class="min-temp">
						<p class="min">Mín.: {{ sols[0]?.min_temp }}° F | C</p>
						<img
							src="../../../assets/icons/arrow-down.svg"
							alt="Seta para baixo"
							class="down-arrow"
						/>
					</div>
				</section>
			</section>

			<section class="right">
				<section class="content-right">
					<img
						src="../../../assets/icons/thermometer.svg"
						alt="Ícone do segundo termômetro"
						class="thermometer-icon"
					/>

					<div class="info-data">
						<p class="pressure">
							Pressão atmosférica: <span>{{ sols[0]?.pressure }}</span>
						</p>
						<p class="mars-uv">
							Radiação UV: <span>{{ sols[0]?.mars_uv }}</span>
						</p>
						<p class="sunrise">
							Nascer do sol: <span>{{ sols[0]?.sunrise }}</span>
						</p>
						<p class="sunset">
							Pôr do sol: <span>{{ sols[0]?.sunset }}</span>
						</p>
					</div>
				</section>
			</section>
		</main>

		<footer class="footer">
			<ng-container *ngFor="let sol of sols.slice(1, 15); let i = index">
				<app-meteorology-card
					[class]="'card-' + (i + 1)"
					[sol]="sol?.sol"
					[terrestrial_date]="sol?.terrestrial_date"
					[max_temp]="sol?.max_temp"
					[min_temp]="sol?.min_temp"
				></app-meteorology-card>
			</ng-container>
		</footer>

		<app-confirmation-window></app-confirmation-window>
	</section>
</main>
