<main class="home">
	<section class="content">
		<header class="header">
			<div class="title">
				<h1>Olá, <span>explorador(a) Orion!</span></h1>
				<p>Seja bem vindo(a)! O que veremos hoje?</p>
			</div>

			<a href=""><mat-icon class="mat">exit_to_app</mat-icon></a>
		</header>

		<main class="cards">
			<div class="card">
				<img
					src="../../../assets/first-card.jpg"
					alt="Imagem do primeiro card"
				/>
				<section class="container">
					<div class="warning">
						<div><span>Disponível</span></div>
					</div>

					<div class="description">
						<h3>Meteorologia em Marte</h3>
						<p>
							Veja a previsão do tempo em Marte ao vivo! Descubra como são as
							temperaturas no planeta vermelho.
						</p>

						<button
							mat-flat-button
							class="button"
							type="button"
							(click)="goToMeteorology()"
						>
							<span>Entrar</span>
						</button>
					</div>
				</section>
			</div>

			<div class="card">
				<img
					src="../../../assets/second-card.jpg"
					alt="Imagem do segundo card"
				/>
				<section class="container">
					<div class="warning">
						<div><span>Em breve</span></div>
					</div>

					<div class="description">
						<h3>Viagens para Marte</h3>
						<p>
							O calendário 2023 para Marte está fechado! Em breve abriremos
							novas inscrições para visitações em 2025.
						</p>

						<button mat-flat-button class="button" type="button" disabled>
							<span>Entrar</span>
						</button>
					</div>
				</section>
			</div>

			<div class="card">
				<img
					src="../../../assets/third-card.jpg"
					alt="Imagem do terceiro card"
				/>
				<section class="container">
					<div class="warning">
						<div><span>Em breve</span></div>
					</div>
					<div class="description">
						<h3>Notícias de Marte</h3>
						<p>
							Ansioso por notícias? Logo mais estará disponível o blog
							“FalaOrion”, seu portal de notícias da Via Láctea!
						</p>

						<button mat-flat-button class="button" type="button" disabled>
							<span>Entrar</span>
						</button>
					</div>
				</section>
			</div>
		</main>
	</section>
</main>
