<main class="registration">
	<section class="content">
		<div class="title">
			<a href=""><mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon></a>
			<h1>Novo cadastro</h1>
		</div>

		<form [formGroup]="registrationForm" class="form">
			<div class="left-inputs">
				<mat-form-field
					class="firstName"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Nome</mat-label>
					<input
						matInput
						formControlName="firstName"
						type="text"
						autocomplete="on"
						required
					/>
					<mat-error *ngIf="!registrationForm.get('firstName')?.valid"
						>Favor informar seu nome</mat-error
					>
				</mat-form-field>

				<mat-form-field
					class="lastName"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Sobrenome</mat-label>
					<input
						matInput
						formControlName="lastName"
						type="text"
						autocomplete="on"
						required
					/>
					<mat-error *ngIf="!registrationForm.get('lastName')?.valid"
						>Informe seu sobrenome</mat-error
					>
				</mat-form-field>

				<mat-form-field
					class="email"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>E-mail</mat-label>
					<input
						matInput
						formControlName="email"
						type="email"
						autocomplete="on"
						required
					/>
					<mat-error *ngIf="!registrationForm.get('email')?.valid"
						>Favor informar um e-mail válido</mat-error
					>
				</mat-form-field>
			</div>

			<div class="right-inputs">
				<mat-form-field
					class="password"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Digite sua senha</mat-label>
					<input
						matInput
						formControlName="password"
						[type]="hide ? 'password' : 'text'"
						required
					/>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
					</button>
				</mat-form-field>

				<mat-form-field
					class="confirm-password"
					appearance="outline"
					[hideRequiredMarker]="true"
				>
					<mat-label>Digite novamente sua senha</mat-label>
					<input
						matInput
						formControlName="confirmPassword"
						[type]="hide ? 'password' : 'text'"
						required
					/>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
					</button>
				</mat-form-field>

				<section class="validators">
					<div class="requirements minlength">
						<mat-icon
							class="check-icon"
							[class.met]="
								!registrationForm.get('password')?.hasError('minlength') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('minlength')
							"
							>check_circle_outline</mat-icon
						>
						<p
							class="check-icon"
							[class.met]="
								!registrationForm.get('password')?.hasError('minlength') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('minlength')
							"
						>
							A senha deve conter, no mínimo, 8 caracteres;
						</p>
					</div>
					<div class="requirements uppercase">
						<mat-icon
							class="check-icon"
							[class.met]="
								!registrationForm.get('password')?.hasError('uppercase') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('uppercase') &&
								registrationForm.get('password')?.value !== ''
							"
							>check_circle_outline</mat-icon
						>
						<p
							[class.met]="
								!registrationForm.get('password')?.hasError('uppercase') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('uppercase') &&
								registrationForm.get('password')?.value !== ''
							"
						>
							Deve ter 1 letra;
						</p>
					</div>
					<div class="requirements digit">
						<mat-icon
							class="check-icon"
							[class.met]="
								!registrationForm.get('password')?.hasError('digit') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('digit') &&
								registrationForm.get('password')?.value !== ''
							"
							>check_circle_outline</mat-icon
						>
						<p
							[class.met]="
								!registrationForm.get('password')?.hasError('digit') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm.get('password')?.hasError('digit') &&
								registrationForm.get('password')?.value !== ''
							"
						>
							Deve ter 1 número;
						</p>
					</div>
					<div class="requirements specialCharacter">
						<mat-icon
							class="check-icon"
							[class.met]="
								!registrationForm
									.get('password')
									?.hasError('specialCharacter') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm
									.get('password')
									?.hasError('specialCharacter') &&
								registrationForm.get('password')?.value !== ''
							"
							>check_circle_outline</mat-icon
						>
						<p
							[class.met]="
								!registrationForm
									.get('password')
									?.hasError('specialCharacter') &&
								registrationForm.get('password')?.value !== ''
							"
							[class.not-met]="
								registrationForm
									.get('password')
									?.hasError('specialCharacter') &&
								registrationForm.get('password')?.value !== ''
							"
						>
							Deve ter 1 caractere especial: !@#
						</p>
					</div>
				</section>
			</div>
		</form>

		<div class="buttons">
			<button
				mat-flat-button
				class="cancel"
				type="button"
				(click)="goToLogin()"
			>
				<span>Cancelar</span>
			</button>
			<button
				mat-flat-button
				class="submit"
				type="submit"
				[disabled]="!registrationForm.valid"
				(click)="onSubmit()"
			>
				<span>Salvar</span>
			</button>
		</div>

		<mat-error *ngIf="showError === true" class="error-message"
			><span>Solicitação inválida</span></mat-error
		>

		<app-success-window
			[description]="'Cadastro preenchido com sucesso'"
		></app-success-window>
	</section>
</main>
