$active-color: #ba8e73;
$border-input-color: #f2f2f2;
$foundation-gray-scale-white: #fff;
$foundation-gray-scale-gray-900: #47474e;
$inactive-send-color: #979797;
$text-inactive-send-color: #171717;
$invalid-color: #e38686;
$valid-color: #9ad698;

.registration {
	background: url(../../../assets/Epic-Sky-03-2.png) no-repeat center center
		fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1rem;

		.arrow-icon {
			color: $foundation-gray-scale-white;
			position: absolute;
			left: 0.8rem;
			top: 1.75rem;
			transform: translateY(-50%);
		}

		.title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 32.625rem;
			width: 100%;
			height: 3.5rem;
			background: transparent;
			border-radius: 1rem;
			border: 1.75px solid $border-input-color;
			position: relative;
			margin: 0 0 1.5rem 0;

			h1 {
				margin: 0 0 0 0;
				color: $foundation-gray-scale-white;
				font-size: 2.5rem;
				font-weight: 500;
			}
		}

		.cadastro {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.5rem;

			// Change Mat-Input Border Color & Caret Color on focus
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__leading,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__notch,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-notched-outline__trailing,
			::ng-deep
				.mdc-text-field--outlined:not(.mdc-text-field--disabled)
				.mdc-text-field__input,
			::ng-deep .mdc-text-field .mdc-text-field__input {
				caret-color: $foundation-gray-scale-white;
				border-color: $border-input-color;
			}

			// Focus to Change Border Color in Mat-Input
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__leading,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__notch,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-notched-outline__trailing,
			::ng-deep
				.mdc-text-field--outlined:not(
					.mdc-text-field--disabled
				).mdc-text-field--focused
				.mdc-text-field__input {
				border-color: $active-color;
				transition: border-color 0.2s ease-in-out;
			}

			mat-label,
			input,
			mat-icon {
				color: $foundation-gray-scale-white;
			}

			.left-inputs {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				margin: 0 0 1.5rem 0;
				grid-column: 1;
			}

			.right-inputs {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				margin: 0 0 1.5rem 0;
				grid-column: 2;
			}

			.validators {
				grid-column: 2;

				.requirements {
					display: flex;

					.check-icon,
					p {
						color: $foundation-gray-scale-white;
					}

					p {
						margin-left: 0.5rem;
					}

					.met {
						color: $valid-color;
					}

					.not-met {
						color: $invalid-color;
					}
				}
			}
		}

		.buttons {
			display: flex;
			gap: 1.5rem;

			.cancel {
				width: 50%;
				height: 3.5rem;
				background: transparent;
				border-radius: 0.25rem;
				border: 1px solid $foundation-gray-scale-gray-900;

				span {
					color: $foundation-gray-scale-white;
					font-size: 0.875rem;
					font-weight: 500;
					letter-spacing: 0.07813rem;
					text-transform: uppercase;
				}
			}

			.submit {
				width: 50%;
				height: 3.5rem;
				background-color: $inactive-send-color;
				opacity: 0.3;

				span {
					color: $text-inactive-send-color;
					font-size: 0.875rem;
					font-weight: 700;
					letter-spacing: 0.07813rem;
					text-transform: uppercase;
				}

				&:enabled {
					transition: all 0.2s ease-in-out;
					background: $active-color;
					opacity: 1;

					span {
						color: $foundation-gray-scale-white;
					}
				}
			}
		}
	}
}

$mobile-max-width: 550px;

@media only screen and (max-width: $mobile-max-width) {
	.registration {
		height: auto;
		width: auto;

		.content{
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-bottom: 0.5rem;

			.title {
				min-width: auto; 
				height: 3.5rem; 
				display: flex;
				margin: 0 0 1rem 0;
				gap: 0;
				flex-direction: column;
				align-items: center;
	
				   h1 {
					  font-size: 1.5rem !important;
				}
			}
	
			.cadastro {
				grid-template-columns: 1fr !important;
				width: 300px !important;
				align-items: center;
				gap: 0;
				margin: auto; 
	
				.left-inputs {
					grid-column: 1 !important;
					width: auto !important;
					align-items: center;
					gap: 0;
					margin: auto;

					.firstName, .lastName, .email {
						width: 300px !important;
						font-size: 1.5rem !important;
					}
					 
				}
	
				.right-inputs {
					grid-column: 1 !important;
					width: 300px !important;
					align-items: center;
					gap: 0;
					margin: auto; 

					.password, .confirm-password {
						width: 300px !important;
						font-size: 1.5rem !important;
					}
				}
			}
	
			.buttons {
				flex-direction: column; 
				align-items: center;
				gap: 0;
				margin: auto;
			
				.cancel,
				.submit {
				  width: 300px !important; 
				  margin-bottom: 1rem;
				}
			}
		}
	}
}	

